/* DATOS DE CONTACTO */
#btn-message {
    --text-color: #000;
    --bg-color-sup: #d2d2d2;
    --bg-color: #f4f4f4;
    --bg-hover-color: #ffffff;
    --online-status: #00da00;
    --font-size: 16px;
    --btn-transition: all 0.2s ease-out;
}

.button-message {
    display: flex;
    justify-content: sta;
    align-items: center;
    font: 400 var(--font-size) Helvetica Neue, sans-serif;
    box-shadow: 0 0 2.17382px rgba(0, 0, 0, 0.049),
        0 1.75px 6.01034px rgba(0, 0, 0, 0.07),
        0 3.63px 14.4706px rgba(0, 0, 0, 0.091), 0 22px 48px rgba(0, 0, 0, 0.14);
    background-color: var(--bg-color);
    border-radius: 68px;
    cursor: pointer;
    padding: 6px 10px 6px 6px;
    width: fit-content;
    height: 40px;
    border: 0;
    overflow: hidden;
    position: relative;
    transition: var(--btn-transition);
}

.button-message:hover {
    height: 56px;
    padding: 8px 20px 8px 8px;
    background-color: var(--bg-hover-color);
    transition: var(--btn-transition);
}

.button-message:active {
    transform: scale(0.99);
}

.content-avatar {
    width: 30px;
    height: 30px;
    margin: 0;
    transition: var(--btn-transition);
    position: relative;
}

.button-message:hover .content-avatar {
    width: 40px;
    height: 40px;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-color-sup);
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;
    text-align: initial;
    color: var(--text-color);
}

.username {
    letter-spacing: -6px;
    height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: var(--btn-transition);
}

.user-id {
    font-size: 12px;
    letter-spacing: -6px;
    height: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: var(--btn-transition);
}

.lable-message {
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scaleY(1);
    transition: var(--btn-transition);
}

.button-message:hover .username {
    height: auto;
    letter-spacing: normal;
    opacity: 1;
    transform: translateY(0);
    transition: var(--btn-transition);
}

.button-message:hover .user-id {
    height: auto;
    letter-spacing: normal;
    opacity: 1;
    transform: translateY(0);
    transition: var(--btn-transition);
}

.button-message:hover .lable-message {
    height: 0;
    transform: scaleY(0);
    transition: var(--btn-transition);
}

.lable-message,
.username {
    font-weight: 600;
}

.number-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    background-color: var(--bg-color-sup);
    border-radius: 20px;
}
.btnContact{
  width: 90%;
  justify-content: start;
}
/*==============================================*/
@keyframes active-status {
    0% {
        background-color: var(--online-status);
    }

    33.33% {
        background-color: #93e200;
    }

    66.33% {
        background-color: #93e200;
    }

    100% {
        background-color: var(--online-status);
    }
}
.fullscreen {
    padding-top: 3rem;
    background-color: #5f805f;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: #000;
}
.imgContent {
    width: 50%;
}

.imgCard {
    width: 90%;
    height: 700px;
    object-position: center center;
    object-fit: cover;
    border-radius: 40px;
    padding: 1rem;
}
.remove-bg {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.content {
    color: rgb(0, 0, 0);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    border: none;
}

.titleCol {
    text-transform: uppercase;
    border-bottom: 1px solid white;
    text-align: start;
    color: #000000;
    font-style: italic;
    border-bottom: 1px solid  rgb(115, 76, 223);
}
.textContent {
    text-align: justify;
    width: 90%;
    font-size: 21px;
    margin-top: 40px;
}
.btnCol{
  width: 200px;
  margin-left: 1rem;
  background-color:rgba(17, 24, 39, 1);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  
}
.btnCol:hover{
  color: #ffd426;
}
.btn-group{
  /* background: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.textTalla{
  width: 90%;
  /* background-color: red; */
  font-size: 24px;
  font-style: italic;
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 1024px) {
    .containerDetails {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrar elementos en dispositivos más pequeños */
    }

    .imgContent {
        width: 100%; /* Asegurar que la imagen ocupe todo el ancho en dispositivos más pequeños */
        margin-bottom: 1rem; /* Espacio inferior adicional */
    }

    .content {
        width: 100%; /* Asegurar que el contenido ocupe todo el ancho en dispositivos más pequeños */
    }

    .textContent {
        width: 100%; /* Asegurar que el texto ocupe todo el ancho en dispositivos más pequeños */
        margin-top: 20px; /* Espacio superior adicional */
    }

    .btn-group {
        flex-direction: column; /* Cambiar a disposición de columna para botones en dispositivos más pequeños */
        margin-top: 1rem; /* Espacio superior adicional */
    }

    .textTalla {
        font-size: 18px; /* Tamaño de fuente reducido para la talla en dispositivos más pequeños */
    }

    .btnContact {
        width: 100%; /* Asegurar que el botón de contacto ocupe todo el ancho en dispositivos más pequeños */
        justify-content: center; /* Centrar el botón de contacto en dispositivos más pequeños */
    }
}

@media (max-width: 768px) {
    .imgCard {
        height: auto; /* Ajustar altura automática para la imagen en dispositivos muy pequeños */
    }

    .textContent {
        font-size: 18px; /* Reducir tamaño de fuente del texto en dispositivos muy pequeños */
    }

    .btnCol {
        width: 200px; /* Asegurar que los botones ocupen todo el ancho en dispositivos muy pequeños */
        margin: 0.5rem 0; /* Espaciado vertical entre botones en dispositivos muy pequeños */
    }
 

    .textTalla {
        font-size: 16px; /* Tamaño de fuente aún más reducido para la talla en dispositivos muy pequeños */
    }
}
